<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="dj4e" content="257deb66f5366aab34a23d5fd0571da4"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again</p>
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
    </form>
 
</body>
</html>
