<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delete Auto</h1>
    <p>Are you sure you want to delete the auto: {{ auto }}?</p>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" name="" id="" value="'Yes, delete">
        <a href="{% url 'app:all' %}">Go back </a>
    </form>
</body>
</html>