<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Auto List</h1>
    <table border="2">
    {% if auto_list %}
        
        <tr>
            <th>Model</th>
            <th>Manufacturer</th>
            <th>Mileage</th>
            <th>Comments</th>
            <th>Option</th>
        </tr>
        
        {% for auto in auto_list %}
            <tr>
            <td>{{ auto.nickname }}</td>
            <td>{{ auto.make }}</td>
            <td>{{ auto.mileage }}</td>
            <td>{{ auto.comments }}</td>
            <td>
                <a href="{% url 'app:auto_update' auto.id %}">Update</a> ¦
                <a href="{% url 'app:auto_delete' auto.id %}">Delete</a>
            </td>   
        {% endfor %}
            </tr> 
    </table>
    {% else %}
        <p>
            There are no autos in the library
        </p>
    {% endif %}
        <p>
            {% if make_count > 0 %}
                <a href="{% url 'app:auto_create' %}">Add an auto</a>
            {% else %}
                Please add a make before adding an auto
            {% endif %}
        </p>
        <p>
            <a href="{% url 'app:make_list' %}">View makes</a> ({{ make_count }}) ¦
            <a href="{% url 'app:make_create' %}">Add a make</a>
        </p>
        <a href="{% url 'logout' %}?next={% url 'home:home' %}">Logout</a>
        
</body>
</html>
