<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="dj4e" content="257deb66f5366aab34a23d5fd0571da4"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% load crispy_forms_tags %}
        {% csrf_token %}
        <table>
            {{ form | crispy }}
        </table>
        <input type="submit" value="Submit">
    </form>
    <a href="{% url 'app:all' %}">Go back Home</a>
</body>
</html>
