<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Auto List</h1>
    {% if auto_list %}
    <ul>
        <table border="2">
            <th>
                <td>Model</td>
                <td>Manufacturer</td>
                <td>Mileage</td>
                <td>Comments</td>
                <td>Option</td>
            </th>
        
        {% for auto in auto_list %}
            <tr>
            <td>{{ auto.nickname }}</td>
            <td>{{ auto.make }}</td>
            <td>{{ auto.mileage }}</td>
            <td>{{ auto.comments }}</td>
            <td>
                <a href="{% url 'app:auto_update' auto.id %}">Update</a> ¦
                <a href="{% url 'app:auto_delete' auto.id %}">Delete</a>
            </td>
                
        {% endfor %}
            </tr> 
    </table>
    </ul>
    {% else %}
        <p>
            There are no autos in the library
        </p>
    {% endif %}
        <p>
            {% if make_count > 0 %}
                <a href="{% url 'app:auto_create' %}">Add an auto</a>
            {% else %}
                Please add a make before adding an auto
            {% endif %}
        </p>
        <p>
            <a href="{% url 'app:make_list' %}">View Makes</a> ({{ make_count }}) ¦
            <a href="{% url 'app:make_create' %}">Add a make</a>
        </p>
        <a href="{% url 'logout' %}">Logout</a>
</body>
</html>
